.login-container {
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(#0000007e, #0000007e),
    url(/background_banner.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px 8%;
}

img {
  width: 150px;
  margin: 0 auto;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login .contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 20px 60px;
}

.login .contact h1 {
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.login .contact form {
  display: flex;
  flex-direction: column;
}

.login .contact form input {
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  background: #333;
  color: white;
  margin: 12px 0;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}

.login .contact form button {
  padding: 10px;
  margin: 12px 0;
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  background: #e50914;
  color: #fff;
  cursor: pointer;
}

.login .contact form button:hover {
  background: #0d0d0d;
}

.remember {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remember .rem {
  display: flex;
  gap: 10px;
  align-items: center;
}

.remember .rem .check {
  width: 15px;
}

.sign {
  margin-top: 20px;
  color: #737373;
}

.sign span {
  margin-left: 10px;
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}

.login_spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_spinner img {
  width: 100px;
}

@media screen and (max-width: 600px) {
  .login .contact {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 400px) {
  .login .contact {
    padding: 20px 20px;
  }
}

@media screen and (max-width: 300px) {
  .login .contact {
    padding: 20px 10px;
  }
}
