.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 6%;
  position: fixed;
  font-size: 14px;
  color: #e5e5e5;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  z-index: 1;
}
.navbar-left {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.navbar-left img {
  width: 100px;
}
.navbar-left .fa-ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-left .fa-ul li {
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar-right .icons {
  width: 20px;
  cursor: pointer;
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
}

.navbar-right .profile {
  border-radius: 4px;
  width: 35px;
}

.navbar .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background: #191919;
  padding: 18px 22px;
  border-radius: 5px;
  text-decoration: underline;
  z-index: 1;
  display: none;
}

.navbar .dropdown p {
  font-size: 12px;
  cursor: pointer;
}

.navbar-profile:hover .dropdown {
  display: block;
}

.nav-dark {
  background: #141414;
}

/* netflix-clone-c0f40 */

@media screen and (max-width: 800px) {
  .navbar {
    padding: 20px 4%;
  }

  .navbar-left img {
    height: 25px;
  }

  .navbar-left .fa-ul {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    padding: 20px 2%;
  }

  .navbar-left img {
    height: 20px;
  }

  .navbar-left .fa-ul {
    display: none;
  }

  .navbar-right .icons {
    width: 15px;
  }

  .navbar-right {
    gap: 10px;
  }

  .navbar-profile .profile {
    width: 25px;
  }
}
